---
title: "Documents required for Digital Ads Verication when the account flagged to complete verification"
sidebar_label: "Documents required for Digital Ads Verication when the account flagged to complete verification"
---

# Documents required for Digital Ads Verication when the account flagged to complete verification

USA:

Businesses are required to submit one of the following registration documents for advertiser identity 
verification. Acceptable documents include:
W9 form
Any IRS issued letter or notice (not IRS forms) showing your name, address and EIN (i.e. CP 575)

DUNS certificate
Businesses may also provide their Employer Identification Number.

Any of the below IDs to verify the business owner.
Driving License
Passport
National Identity Card
Residence Permit

Canada:

Businesses are required to submit one of the following registration documents for advertiser identity 
verification. Acceptable documents include:

Certificate of Incorporation
Certificate of Good Standing/Status
Certificate of Compliance
DUNS certificate
Businesses may also provide their 7 digit Corporate Number.

Any of the below IDs to verify the business owner.
Driving License
Passport
National Identity Card
Residence Permit
